/* reset */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'nanumgothic';
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

header {
    height: 170px;
}
/* header-top */
header #header-top {
    height: 120px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding-top: 40px;
}
header #header-top .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1 a {
    font-size: 40px;
    color: #ef2a23;
    text-transform: uppercase;
}
.search {
    position: relative;
}
.search input {
    width: 400px;
    height: 40px;
    border: 2px solid #ef2a23;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 15px;
}
.search i {
    font-size: 23px;
    font-weight: normal;
    color: #ef2a23;
    position: absolute;
    top: 9px;
    right: 13px;
}
.info {
    display: flex;
}
.info a {
    line-height: 25px;
}
.info a i {
    margin-right: 20px;
    font-size: 27px;
    text-align: center;
    font-weight: normal;
}
.info a article {
    font-size: 11.5px;
}
#etc {
    display: flex;
    position: relative;
}
#etc article {
    margin-right: 15px;
}

/* header-bottom */
header #header-bottom {
    height: 50px;
    border-bottom: 2px solid #ef2a23;
}
header #header-bottom .container {
    display: flex;
}
#menu-icon {
    width: 51px;
    height: 51px;
    background: #ef2a23;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
#menu-contents {
    display: flex;
    align-items: center;
}
#menu-contents article:first-child {
    margin-left: 50px;
}
#menu-contents article {
    margin-right: 50px;
    cursor: pointer;
}

/* main */
/* side nav */
#main {
    margin-top: 20px;
    font-family: 'Malgun Gothic', sans-serif;
}
#main .container {
    display: flex;
}
#main #side-nav h1 {
    font-size: 35px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 40px;
}
#main #side-nav {
    padding: 20px;
}
#main #side-nav ul {
    position: relative;
}
#main #side-nav ul > ul {
    margin-bottom: 50px;
}
#main #side-nav ul > ul > h2 {
    font-size: 18px;
    font-weight: bold;
}
#main #side-nav ul > ul > li {
    margin-top: 10px;
    color: #757575;
    font-size: 14px;
    cursor: pointer;
}
#main #side-nav ul > ul::after {
    content: '';
    width: 160px;
    height: 1px;
    position: absolute;
    bottom: -25px;
    background: #efefef;
}
#main #side-nav ul > ul:last-child::after {
    background: #000;
}
#main #side-nav .center > span {
    display: block;
}
#main #side-nav .center .center-title {
    font-size: 14px;
    font-weight: bold;
}
#main #side-nav .center .phone {
    font-size: 27px;
    font-weight: bold;
    margin: 10px 0;
}
#main #side-nav .center .work-day {
    font-size: 13px;
    color: #757575;
    margin-bottom: 15px;
}
#main #side-nav .center > section > button {
    font-size: 13px;
    border-radius: 7px;
    background: #fff;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}
#main #side-nav .center > .btn1 {
    margin-bottom: 10px;
}
#main #side-nav .center > .btn1 > button {
    padding: 13px 66px;
}
#main #side-nav .center > .btn2 > button {
    padding: 13px 55px;
}
/* my-info */
#my-info {
    margin-left: 20px;
    width: 850px;
    position: relative;
}
#my-info > .review > .up::after {
    content: '';
    width: 880px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 134px;
}
.up {
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}
.info-title {
    font-size: 25px;
}
#my-info > .review > .review-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-info > .review > .review-contents > i {
    font-size: 57px;
    color: #dfdfdf;
}
.review-contents > span {
    font-size: 13px;
    color: #757575;
    margin-top: 20px;
}
.all {
    cursor: pointer;
}
.review-contents {
    width: inherit;
    height: 200px;
}
#my-info > .like-prod {
    position: relative;
}
#my-info > .like-prod > .up::after {
    content: '';
    width: 880px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 47px;
}
.like-prod-contents {
    width: inherit;
    height: 250px;
}
#my-info > .like-prod > .like-prod-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-info > .like-prod > .like-prod-contents > i {
    font-size: 57px;
    color: #dfdfdf;
}
.like-prod-contents > span {
    font-size: 13px;
    color: #757575;
    margin-top: 20px;
}
#my-info > .like-store {
    position: relative;
}
#my-info > .like-store > .up::after {
    content: '';
    width: 880px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 48px;
}
.like-store-contents {
    width: inherit;
    height: 250px;
}
#my-info > .like-store > .like-store-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-info > .like-store > .like-store-contents > i {
    font-size: 57px;
    color: #dfdfdf;
}
.like-store-contents > span {
    font-size: 13px;
    color: #757575;
    margin-top: 20px;
}

/* footer */
footer {
    height: 200px;
    background: #f8f8f8;
}
.footer {
    padding: 25px 0;
    margin-top: 19px;
}
.footer ul {
    margin-bottom: 100px;
}
.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
}
.footer li:before {
    content: '';
    width: .8px;
    height: 12px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    top: 2px;
}
.footer li:first-child::before {
    width: 0;
    height: 0;
}
.footer address {
    text-align: center;
}